.elementor-2 .elementor-element.elementor-element-23e0253{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:1;}.elementor-2 .elementor-element.elementor-element-23e0253 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2 .elementor-element.elementor-element-18f1400{position:relative;left:20px;}.elementor-2 .elementor-element.elementor-element-3af9e2c{position:relative;}.elementor-2 .elementor-element.elementor-element-612b7a7{position:relative;}.elementor-2 .elementor-element.elementor-element-653452d{text-align:left;width:var( --container-widget-width, 134.709% );max-width:134.709%;--container-widget-width:134.709%;--container-widget-flex-grow:0;align-self:flex-start;z-index:30;position:relative;left:45%;}.elementor-2 .elementor-element.elementor-element-653452d img{width:224%;max-width:100%;opacity:1;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-2 .elementor-element.elementor-element-653452d > .elementor-widget-container{padding:12px 36px 4px 0px;}.elementor-2 .elementor-element.elementor-element-6e55889{position:relative;left:-19%;}.elementor-2 .elementor-element.elementor-element-5931239 .elementor-button{background-color:var( --e-global-color-b20a38f );border-radius:13px 13px 13px 13px;padding:12px 12px 12px 12px;}.elementor-2 .elementor-element.elementor-element-5931239 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2 .elementor-element.elementor-element-5931239{width:var( --container-widget-width, 62% );max-width:62%;--container-widget-width:62%;--container-widget-flex-grow:0;z-index:3;position:relative;top:79%;left:-100%;}.elementor-2 .elementor-element.elementor-element-463c407{position:relative;}.elementor-2 .elementor-element.elementor-element-2805bc3{width:var( --container-widget-width, 348.705% );max-width:348.705%;--container-widget-width:348.705%;--container-widget-flex-grow:0;z-index:4;position:relative;top:100%;left:-100%;}.elementor-2 .elementor-element.elementor-element-2556c85{position:relative;left:84%;}.elementor-2 .elementor-element.elementor-element-164c403 .elementor-button{text-shadow:0px 0px 10px rgba(0,0,0,0.3);fill:var( --e-global-color-5e462d11 );color:var( --e-global-color-5e462d11 );background-color:#020303;border-style:none;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);padding:09px 018px 010px 018.18px;}.elementor-2 .elementor-element.elementor-element-164c403 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:9px 18px 10px 18.18px;}.elementor-2 .elementor-element.elementor-element-164c403{width:var( --container-widget-width, 206.718% );max-width:206.718%;--container-widget-width:206.718%;--container-widget-flex-grow:0;z-index:1;position:relative;left:100%;}.elementor-2 .elementor-element.elementor-element-513dd55{position:relative;left:100%;}.elementor-2 .elementor-element.elementor-element-dbdaf7d .elementor-button{fill:var( --e-global-color-48eff407 );color:var( --e-global-color-48eff407 );background-color:var( --e-global-color-957d4c0 );border-radius:6px 6px 6px 6px;padding:9px 18px 10px 18.18px;}.elementor-2 .elementor-element.elementor-element-dbdaf7d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:9px 18px 10px 18.18px;}.elementor-2 .elementor-element.elementor-element-dbdaf7d{width:initial;max-width:initial;z-index:1;position:relative;left:100%;}.elementor-2 .elementor-element.elementor-element-a62d8cd{position:relative;top:75%;left:-30%;}.elementor-2 .elementor-element.elementor-element-11e9091 .elementor-button{text-shadow:0px 0px 10px rgba(0,0,0,0.3);fill:var( --e-global-color-48eff407 );color:var( --e-global-color-48eff407 );background-color:var( --e-global-color-957d4c0 );border-style:none;border-radius:6px 6px 6px 6px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);padding:09px 09px 09px 09px;}.elementor-2 .elementor-element.elementor-element-11e9091 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:9px 18px 10px 18.18px;}.elementor-2 .elementor-element.elementor-element-11e9091{width:initial;max-width:initial;z-index:1;position:relative;top:-100%;left:-24%;}.elementor-2 .elementor-element.elementor-element-dbc72c0{position:relative;top:75%;left:-44%;}.elementor-2 .elementor-element.elementor-element-ec1cea9 .elementor-button{fill:var( --e-global-color-957d4c0 );color:var( --e-global-color-957d4c0 );background-color:#020303;border-radius:6px 6px 6px 6px;padding:9px 9px 9px 9px;}.elementor-2 .elementor-element.elementor-element-ec1cea9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:9px 18px 10px 18.18px;}.elementor-2 .elementor-element.elementor-element-ec1cea9{width:var( --container-widget-width, 48% );max-width:48%;--container-widget-width:48%;--container-widget-flex-grow:0;z-index:1;position:relative;top:-100%;left:-24%;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-2 .elementor-element.elementor-element-18f1400{width:42.292%;}.elementor-2 .elementor-element.elementor-element-612b7a7{width:37%;}.elementor-2 .elementor-element.elementor-element-6e55889{width:2%;}.elementor-2 .elementor-element.elementor-element-463c407{width:27.979%;}.elementor-2 .elementor-element.elementor-element-2556c85{width:15%;}.elementor-2 .elementor-element.elementor-element-513dd55{width:17.033%;}.elementor-2 .elementor-element.elementor-element-a62d8cd{width:24%;}}/* Start custom CSS for html, class: .elementor-element-2805bc3 */h1 {
  /*color: #333;*/
  color: white;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

h1 span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  /*background-color: yellow;*/
  /*color: #333;*/
  color: white;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 10s ease-in-out infinite;
}
.text{
    color: white;
}

.paragraph-highlight{
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    z-index: 3;
}

.word1, .word2, .word3, .word4, .word5, .word6 {
  font-family: tahoma;
}

@keyframes openclose {
  0%, 100% {
    width: 0;
    top: 0.2rem; /* Start and end at the first word position */
  }
  2%, 16%, 30%, 44%, 58%, 72%, 86% {
    width: 0;
  }
  6% {
    width: 230px; /* Adjust width as needed for word1 */
    top: 0.2rem;
  }
  14% {
    width: 0;
    top: -4.5rem; /* Move up to word2 */
  }
  18% {
    width: 190px; /* Adjust width as needed for word2 */
    top: -4.5rem;
  }
  28% {
    width: 0;
    top: -9rem; /* Move up to word3 */
  }
  32% {
    width: 285px; /* Adjust width as needed for word3 */
    top: -9rem;
  }
  42% {
    width: 0;
    top: -13.5rem; /* Move up to word4 */
  }
  46% {
    width: 285px; /* Adjust width as needed for word4 */
    top: -13.5rem;
  }
  56% {
    width: 0;
    top: -18rem; /* Move up to word5 */
  }
  60% {
    width: 285px; /* Adjust width as needed for word5 */
    top: -18rem;
  }
  70% {
    width: 0;
    top: -22.5rem; /* Move up to word6 */
  }
  74% {
    width: 285px; /* Adjust width as needed for word6 */
    top: -22.5rem;
  }
  84% {
    width: 0; /* Transition back to starting point */
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2556c85 */.header-column-section{
    flex-direction: row;
    display: flex;
    
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-513dd55 */.header-column-section{
    flex-direction: row;
    display: flex;
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-23e0253 */.custom-video-overlay {
    position: fixed;
    overflow: hidden;
    width: 100%; /* Add width */
    height: 100%; /* Add height */
}

.custom-video-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                linear-gradient(180deg, rgba(0, 0, 0, 0.85) 6.42%, rgba(0, 0, 0, 0.01) 20.32%),
                linear-gradient(90deg, rgba(0, 0, 0, 0.85) 23.64%, rgba(0, 0, 0, 0.04) 44.62%);
    z-index: 1;
}

.custom-video-overlay video {
    position: relative;
    z-index: 0;
    width: 100%; /* Add width */
    height: 100%; /* Add height */
}/* End custom CSS */